body {
  margin-top:3.5rem;  
}
.bg-light {
 background-color:#fff !important; 
}

.navbar{
  padding:0px;
}

/* dropshadow for the fixed top navbar */
.navbar.with-shadow {
 -webkit-box-shadow: 0 6px 6px -6px #bbb;
 -moz-box-shadow: 0 6px 6px -6px #bbb;
  box-shadow: 0 6px 6px -6px #bbb;
  opacity: 0.95;
}

/* logo tail de-highlight */
.logotext-tail {
    color: #888;
    font-weight: normal;
    padding-left: 2px;
}

#research-areas-carousel {
    margin-top:8px;
}

#research-areas-carousel a.btn-primary,#research-areas-carousel a.btn-primary:focus  {
    background-color:transparent;
    border-color:#fff;
}



.navbar-nav > li  {
    margin-left:20px;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color:black;
    font-size:1.3em;
}

.navbar-light .navbar-nav .nav-link {
  color :#333;
  padding: 0.9rem 0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color : #111;
}
 .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color : rgba(206, 88, 1, 0.9) ;
    font-weight:bold;
    border-bottom:3px solid rgba(206, 88, 1, 0.9) ;
}

a.nav-link {
  text-transform: capitalize;
}

.carousel-indicators li {
    width:10px;
    height:10px;
    border-radius:10px;

}

.section-title {
  padding:1rem 1rem;
  color: #d18164;
  font-weight: bold;
  font-size: 1.6em;
  margin:0;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  border-bottom:1px solid #eee;
} 

.news-img {
  width:100%;
  padding:5px;
  border:1px solid #eee;
}
.news .card {
  margin-bottom :1.8rem;
  border:none;
  border-bottom:1px dashed #eee;
  padding-bottom:1.3rem;

}
.news a.card-title  {
  cursor: pointer;
  font-size:1.1rem;
  margin-bottom:0.4rem;
}

.news a.card-title:hover  {
  text-decoration:none;
}
.news .card-subtitle {
  font-size:0.9rem;
  font-weight:bold;
  margin-top:5px;
}
.news .card-body {
  padding :0 1.5rem;
}

.event-card {
  margin-bottom:1.2rem;
}
.events a.card-title {
  font-size:1em;
  font-style:sans-serif;
  margin-bottom:0.2rem;
}
.events .card-subtitle{
  font-size:0.9rem;
  font-weight:bold;
  margin-top:0px;
  color:#444;
}

.collab-section {
  margin-top: 2rem;
}

footer {
  font-size:0.9em;
  padding-top:1rem;
  margin-top:2rem;
  border-top:1px solid #ccc;
}

@media (max-width: 768px) {
    .navbar-light .navbar-brand {
       padding:0.9rem; 
      }
    .navbar-brand-short{
      font-size:1.2em;
    }
    .navbar-nav > li {
        margin-left : 0px;
    }

    a.nav-link{
      color:#111;
      background-color:#fafafa;
    }

    .carousel h1{
        font-size:1.6rem;
    }
    .carousel p{
width: 100%;
    }

    .section-title{
    
    }

}

