ol.publications {
  list-style-type: none;
  padding:0 2em;
  line-height:1.5em;
}

ol.publications > li {
  padding: 1.2em 0;
  
}

.pub-authors {
}

.pub-title {
  font-weight: bold;
  font-size:1.05em;
}


.pub-title::before, .pub-title::after{
  content: '"';
}

.pub-journal {
  color:#444;
}

.pub-publisher, .pub-tail, .pub-year, .pub-location {
  color:#777;
  font-style:italic;
}

.pub-links > a {
  text-decoration:none;
  font-size:0.9em;
  color: #1f5a6b;
  background-color: #d1f2ff;
  border-radius :5px;
  padding:5px 10px;
  font-weight:bold;
  margin: 0px 5px;
  cursor:pointer;
}
.pub-links > a:hover {
  color: #fff;
  background-color: #058eb6;
}
