ol.publications {
  line-height:1.5em;
  list-style-type:none;
  border:1px solid #eee;
}

ol.publications > li {
  padding: 1.2em 0;
  border-bottom: 1px dashed #ddd;
  
}

.pub-authors {
  display:block;
}

.pub-title {
  font-weight: bold;
  font-size:1.2em;
  display:block;
}

.pub-journal {
  font-style: italic;
  font-size:1.2em;
  /*display:block;*/
}


/*
.pub-title::before, .pub-title::after{
  content: '"';
}
*/

@media (max-width:756px) {
  #pub-container p {
    text-align: center;
  }
}

.pub-journal {
  color:#444;
  font-size:0.95em;
  font-style:italic;
}

.pub-publisher, .pub-tail, .pub-year, .pub-location {
  color:#777;
  font-size:0.95em;
}

.pub-links > a {
  text-decoration:none;
  font-size:0.9em;
  color: #1f5a6b;
  background-color: #d1f2ff;
  border-radius :5px;
  padding:5px 10px;
  font-weight:bold;
  margin: 0px 5px;
  cursor:pointer;
}
.pub-links > a:hover {
  color: #fff;
  background-color: #058eb6;
}

.sort.asc::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: 11px;
  right: -4px;
}

.sort.desc::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: -9px;
  right: -4px;
}

.list-controls {
  
  padding:1em;
  background-color: #feffdf;
  border-bottom:1px solid #eee;
}
