---
layout: default
title: Research
permalink: research
---

<section class="jumbotron" id="research-header">
  <div class="bg-img">
    <img src="images/carousel2_bg.jpg" />
  </div>
  <div class="container">
      <div class="jumbotron-content ">
        <h1 class="jumbotron-heading mb-4"  >Research</h1>
        <p class="lead" >
          The research conducted at RBC-DSAI spans both basic research, addressing fundamental challenges in AI, as well as applied research projects in various fields ranging from finance to health care.
        </p>
      </div>
  </div>
</section>


<div class="container" id="rs-topic-basic" >
<div class="row justify-content-end" id="research-content-box">
<div class="col-sm-2 d-sm-none d-md-none d-lg-block d-xl-block " id="sidenav-container">
  <ul data-spy="affix" data-offset-top="53" class=" nav flex-column sidenav" id="research-sidenav">
    <li class="nav-item">
      <a class="nav-link active text-uppercase" href="#rs-topic-basic" >Basic Research </a>
      <ul class="nav  flex-column mb-3">
      {% for topic in site.research %}
        {% if topic.type contains "basic" %}
          <li class="nav-item">
            <a class="nav-link " href="{{ topic.title | slugify| prepend: '#'}}"> {{ topic.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase" href="#rs-topic-applied">Applied Research</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-uppercase" href="#rs-topic-projects">Projects</a>
    </li>
    
  </ul>
</div>

<div class="col-sm-10" >
  
  <!-- <hr class="featurette-divider"> -->

  <div class="container">
    <div class="row">
      <h1  class="col" >Basic Research </h1>
    </div>

    {% for topic in site.research %}
      {% if topic.type contains "basic" %}

        {% assign content_order = forloop.index0 | modulo: 2 | plus:1  %}
        {% assign image_order   = content_order | modulo:2 | plus:1  %}

        {% if forloop.first == true  %}
          <hr class="featurette-divider first" id="{{topic.title | slugify }}">
        {% else %}
          <hr class="featurette-divider" id="{{topic.title | slugify }}">
        {% endif %}
        <div class="row mb-4">
          <div class="col-md-12">
            <h2 class="featurette-heading">{{ topic.title }}</h2>
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-7 {{content_order | prepend: 'order-md-'}}  ">
            <p class="lead">{{ topic.description }}</p>
          </div>
          <div class="col-md-5 {{image_order | prepend: 'order-md-'}} ">
            <img class="featurette-image img-fluid mx-auto " src="{{topic.image}}" alt="{{ topic.title}}">
          </div>
        </div>
      {% endif %}
    {% endfor %}




    <hr class="featurette-divider" id="rs-topic-applied">
    
    <h1 class="mt-4"> Applied Research</h1>

    {% for topic in site.research %}
      {% if topic.type contains "applied" %}

        {% assign content_order = forloop.index | modulo: 2 | add:1 | prepend: 'order-md-' %}
        {% assign image_order   = content_order | add: 1 | modulo:2 | add:1 | prepend: 'order-md-' %}

        {% if forloop.first == true  %}
          <hr class="featurette-divider first" id="{{topic.title | slugify }}">
        {% else %}
          <hr class="featurette-divider" id="{{topic.title | slugify }}">
        {% endif %}
        <div class="row mb-4">
          <div class="col-md-12">
            <h2 class="featurette-heading">{{ topic.title }}</h2>
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-7 {{content_order}}  ">
            <p class="lead">{{ topic.description }}</p>
          </div>
          <div class="col-md-5 {{image_order}} ">
            <img class="featurette-image img-fluid mx-auto " src="{{topic.image}}" alt="{{ topic.title}}">
          </div>
        </div>
      {% endif %}
    {% endfor %}



    <hr class="featurette-divider" id="rs-topic-projects">



    <hr class="featurette-divider " >

    <div class="row">
      <div class="col">
         <h1> Projects </h1>
    </div>

     <div class="row">
    
    {% for project in site.project %} 
    <div class="card col-sm-12  project-card  mb-5">
     <div class="card-body drop-shadow">
       <h3 class="card-title">{{ project.title }}</h3>
       <h4 class="card-subtitle mb-3">{{ project.coordinators }}</h4>
       <p class="card-text">{{ project.abstract }}</p>
     </div>
    </div>
    {% endfor %}
    </div>

  </div>

</div>

</div>


</div>

