---
layout: default 
title: People
permalink: People
---
     

     {% assign member_type = "faculty, staff, collaborator, student, alumni, visiting faculty" | split: ", " %} 
     {% assign tab_headers = "faculty, staff, collaborators, students, alumni, visiting faculty" | split: ", " %} 

      <div class="container-flex " id="people-tab-container">
        <div class="row">
          <div class="col-12" id="people-header">
            <h1> People  </h1>
            <p> </p>
          </div>
          <div class="col-auto mx-auto ">
            <ul class="nav nav-tabs  flex-column flex-sm-row " id="people-tabs">
              {% for tab in tab_headers %}
                <li class="nav-item">
                {% if forloop.first == true %}              
                  <a class="nav-link active flex-sm-fill" href="{{ tab | prepend: '#' | append: '-panel'}}"> {{ tab }} </a>
                {% else %}
                  <a class="nav-link  flex-sm-fill" href="{{ tab | prepend: '#' | append: '-panel'}}"> {{ tab }} </a>
                {% endif %}
                </li>
              {% endfor %}
          </ul> 
          </div>
        </div>
      </div>

      <div class="tab-content  pt-6 " >
      {% for tab in tab_headers %}

        {% if forloop.first == true %}
          <div class="container tab-pane fade show active" id="{{ tab | append: '-panel'}}">
        {% else %}
          <div class="container tab-pane fade show " id="{{ tab | append: '-panel'}}">
        {% endif %}

          <div class="row" >

           {% assign tab_index = forloop.index0 %}

           {% for member in site.members %}
             {% if member.type contains member_type[tab_index]  %}
             <div class="card people-card col-sm-3 ">
               <div class="card-body drop-shadow-mild">
               <img class="card-img-top  center-block" src="/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title "><a href="{{member.url}}">{{ member.name }}</a></h5>

                 {% assign designation_count = member.designations.size %} 

                 {% comment %} List out all designations for the head in the first tab {% endcomment %}
                 {% if forloop.first == true and tab_index == 0 %}
                   {% for designation in member.designations %}
                   <h6 class="card-subtitle mb-2">{{ designation }} </h6>
                   {% endfor %}
                 {% else %}

                   {% for designation in member.designations limit:1 %}
                    <h6 class="card-subtitle mb-2">{{ designation }}
                    </h6>
                   {% endfor %}
                   {% if designation_count > 1 %}
                     <a href="{{member.name | slugify | prepend: '#' }}" class="toggle-btn drop-shadow-mild " title="see more affiliations"  data-toggle="collapse" > {{ designation_count | minus: 1 }} affiliations </a>
                     <div class="collapse" id="{{member.name | slugify }}" >
                     {% for designation in member.designations offset:1 %}
                      <h6 class="card-subtitle mb-2">{{ designation }}</h6>
                     {% endfor %}
                     </div>
                   {% endif %}

                 {% endif %}
                 <p class="card-text">
                   {% for area in member.areas %}
                      {% if forloop.last == true %}
                        <span class="member-area last"> {{area}}</span>
                      {% else %}
                        <span class="member-area"> {{area}}</span>
                      {% endif %}
                   {% endfor %}
                 </p>
               </div>
             </div>
             {% endif %}
           {% endfor %}

          </div>
     </div>
    {% endfor %}


    </div>
