---
layout: default 
title: People
permalink: people
---
     
      <div class="container">
          <div class="row justify-content-center mb-4"> 
            <div class="col-auto">
              <ul class="nav nav-pills mt-4 ">
                <li class="nav-item"><a class="nav-link " href="#"> Faculty</a></li>
                <li class="nav-item" ><a class="nav-link" href="#"> Collaborators </a></li>
                <li class="nav-item"><a class="nav-link active" href="#"> Student </a></li>
              </ul> 
            </div>
          </div>

<!--
          <div class="row"> 
            <h1 class="col section-title">Faculty</h1>
          </div>
          -->

          <div class="row">
           {% for member in site.people %}
             {% if member.type contains "faculty" %}
             <div class="card people-card col-sm-4 ">
               <div class="card-body">
               <img class="card-img-top  center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="{{member.url}}">{{ member.name }}</a></h5>
                 {% for designation in member.designations %}
                 <h6 class="card-subtitle mb-2">{{ designation }}</h6>
                 {% endfor %}
                 <p class="card-text">
                   {% for area in member.areas %}
                      <span class="member-area"> {{ area }} </span>
                   {% endfor %}
                 </p>
               </div>
             </div>
             {% endif %}
           {% endfor %}

          </div>
     </div>


     <div class="container">
          <div class="row"> 
            <h1 class="col section-title ">Collaborators</h1>
          </div>
          <div class="row">

           {% for member in site.people %}
            {% if member.type contains "collaborator" %}
             <div class="card people-card col-sm-4">
               <div class="card-body">
               <img class="card-img-top  center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="">{{ member.name }}</a></h5>
                 {% for designation in member.designations %}
                 <h6 class="card-subtitle mb-2">{{ designation }}</h6>
                 {% endfor %}
               </div>
             </div>
            {% endif %}
           {% endfor %}

          </div>
     </div>
