---
layout: default
title: Publications
permalink: publications
---

      <div class="container" id="pub-container">
          <div class="row">
            <h1 class="col-12 section-title mb-3 pl-3"> Publications </h1>
            <p class="col-12 mb-3 pl-3"> Sort, filter, and browse through our publications  </p>
          </div>
          
          <div class="row list-controls">

               <input class="col-sm-6 search" placeholder="Search By Paper Title or Author or Year" />
               <div class="col-sm-6">
                <!-- <button class="sort " data-sort="pub-title" id="title-sort-cntrl"> sort by <strong> Title </strong> </button> -->
                 <button class="sort " data-sort="pub-year"> sort by <strong> Year </strong> </button>
               </div>
          </div>
          <div class="row" >
            <ol class="col-12 publications list" id="publication-list">
            {% for paper in site.data.publications_sorted %}
              <li>
                <span class="pub-title">{{ paper.title}} </span> 
                <span class="pub-authors">
                {% assign authors = paper.author | split: " and " %}
                {% assign str = "" %}
                {% for author in authors %} 
                  {% assign curr_str =  author | split: "," | reverse | join: " "| append:", " %}
                  {% assign str = str | append: curr_str %} 
                {% endfor %}
                {% assign len = str | size | minus:2 %}
                {{ str | slice:0, len }}
                </span>
                <span class="pub-journal">{{ paper.journal }}</span>
                <span class="pub-journal">{{ paper.booktitle }}</span>
                <!-- <span class="pub-publisher">{{ paper.publisher }}</span> -->
                <span class="pub-year">({{ paper.year }})</span>
                <span class="pub-location"></span>
                <span class="pub-tail">
                  {{ paper.volume }}
                  {% if paper.number %} ({{ paper.number }}) {% endif %}
                  {{ paper.pages}}
                </span>
                <span class="pub-links"> 
                  {% if paper.link %}<a href="{{ paper.link }}">pdf</a> {% endif %}
                  <!-- <a href="#">git</a> -->
                </span>
              </li>
              {% endfor %}

            </ol>
          </div>
      </div>

