---
layout: default
title: Teaching
permalink: teaching
---

<section class="jumbotron" id="education-header">
  <div class="bg-img">
    <img src="images/carousel2_bg.jpg" />
  </div>
  <div class="container jumbotron-content text-center">
    <h1 class="jumbotron-heading">Teaching</h1>
    <p class="lead" >
       Here is a list of various courses offered by the faculty associated with RBC-DSAI.
    </p>
  </div>
<div style="position:absolute" class="container jumbotron-content text-center">
<p><strong>
<marquee
 
     direction="left"
     loop="7"
     scrollamount="1"
     scrolldelay="2"
     behavior="alternate"
     width="100%"
     
    
      >
<a href="http://www.iimb.ac.in/Certificate-in-Technology-and-Management"style="color: white">Online Certificate Programme in Technology and Management jointly offered by IIM Bangalore’s IIMBx MOOCs Programme and IIT Madras’ CCE and RBC-DSAI
</a>
</marquee>
</strong></p>
</div>
</section>


<div class="container">  

  <!-- <hr class="featurette-divider"> -->
  <div class="row">

  <div class="col-sm-7">
  <h2 class="section-title">NPTEL courses</h2>  
  {% for course in site.nptel %} 
    <div class="card project-card drop-shadow col-sm-12 mb-5">
     <div class="card-body">
       <h3 class="card-title"><a href="{{ course.link }}">{{ course.title }}</a></h3>
       <h4 class="card-subtitle mb-2">{{ course.instructor }}</h4>
       <p class="card-text">{{ course.description }}</p>
     </div>
   </div>
  {% endfor %}
  </div>

  <div class="col-sm-5 ">
  <h2 class="section-title">IITM Electives</h2>

  {% for course in site.data.iitm_electives %} 
    <div class="card elective-card  col-sm-12 mb-1">
     <div class="card-body">
       <h4 class="card-title">{{ course.num }} : {{ course.title }}</h4>
       <h4 class="card-subtitle mb-2">{{ course.instructor }}</h4>
     </div>
   </div>
  {% endfor %}
  </div>


  </div>
</div>

