---
layout: default 
title: people
permalink: people
---
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">People</h1>
        <p class="lead  text-muted">
           RBC-DSAI's team comprises of faculty; doctoral, masters, undergraduate students;<br> several collaborators from the industry and academia.
        </p>
      </div>
     </section>

      <div class="container">
        <hr>
        <h3>Faculty</h3>
        <hr>
      </div>

      <div class="container">
          <div class="row">

           {% for member in site.members %}
             {% if member.type contains "faculty" %}
             <div class="card people-card col-sm-3">
               <div class="card-body">
               <img class="card-img-top rounded-circle img-responsive center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="">{{ member.name }}</a></h5>
                 <h6 class="card-subtitle mb-2">{{ member.designation }}</h6>
                 <p class="card-text">{{ member.areas }}</p>
               </div>
             </div>
             {% endif %}
           {% endfor %}

          </div>
     </div>

    <div class="container">
      <hr>
      <h3>Collaborators</h3>
      <hr>
    </div>

     <div class="container">
          <div class="row">

           {% for member in site.members %}
            {% if member.type contains "collaborator" %}
             <div class="card people-card col-sm-3">
               <div class="card-body">
               <img class="card-img-top rounded-circle img-responsive center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="">{{ member.name }}</a></h5>
                 <h6 class="card-subtitle mb-2">{{ member.designation }}</h6>
               </div>
             </div>
            {% endif %}
           {% endfor %}

          </div>
     </div>
