---
layout: default 
title: People
permalink: people
---
 <!--
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">People</h1>
        <p class="lead  text-muted">
           RBC-DSAI's team comprises of faculty; doctoral, masters, undergraduate students;<br> several collaborators from the industry and academia.
        </p>
      </div>
     </section>
     -->

      <div class="container ">

          <div class="row"> 
            <h1 class="col section-title">Faculty</h1>
          </div>

          <div class="row">
           {% for member in site.members %}
             {% if member.type contains "faculty" %}
             <div class="card people-card col-sm-4">
               <div class="card-body">
               <img class="card-img-top  center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="">{{ member.name }}</a></h5>
                 {% for designation in member.designations %}
                 <h6 class="card-subtitle mb-2">{{ designation }}</h6>
                 <p class="card-text">{{ member.areas }}</p>
                 {% endfor %}
               </div>
             </div>
             {% endif %}
           {% endfor %}

          </div>
     </div>


     <div class="container">
          <div class="row"> 
            <h1 class="col section-title ">Collaborators</h1>
          </div>
          <div class="row">

           {% for member in site.members %}
            {% if member.type contains "collaborator" %}
             <div class="card people-card col-sm-4">
               <div class="card-body">
               <img class="card-img-top  center-block" src="http://localhost:4000/images/members/{{ member.image }}" alt="{{ member.name }}">
                 <h5 class="card-title"><a href="">{{ member.name }}</a></h5>
                 {% for designation in member.designations %}
                 <h6 class="card-subtitle mb-2">{{ designation }}</h6>
                 {% endfor %}
               </div>
             </div>
            {% endif %}
           {% endfor %}

          </div>
     </div>
