---
layout: default
---

    <div id="research-areas-carousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#research-areas-carousel" data-slide-to="0" class="active"></li>
        <!-- <li data-target="#research-areas-carousel" data-slide-to="1"></li>
        <li data-target="#research-areas-carousel" data-slide-to="2"></li> -->
      </ol>

      <div class="carousel-inner">

        {% for item in site.data.carousel %}
        <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
          <img class="{{forloop.index}}-slide" src="images/{{ item.image }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption  d-md-block text-left">
              <h1> {{ item.title }} </h1>
              <p> {{ item.message }} </p>
              <p><a class="btn btn-lg btn-primary" href="{{ item.link }}" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#research-areas-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#research-areas-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- News and Spotlight Events  --> 
    <div class="container">

      <div class="row">

        <div class="col-sm-8 news">
          <h3 class="section-title pl-0"> News </h3>

          <div class="card drop-shadow"> 
            <div class="row no-gutters ">
            <div class="col-2">
            <img  class="member-img img-responsive center-block" src="images/news/Kamakoti.jpg" alt="Card image cap" >
            </div>
            <div class="card-body col-10">
              <a class="card-title" href="#">Prof. V. Kamakoti to chair GoI Task Force on AI for Development across various fields.</a>
              <h6 class="card-subtitle mb-2 ">26 August 2017</h6>
              <p class="card-text">
                 Commerce and Industry Minister Nirmala Sitharaman has constituted a Task Force chaired by V. Kamakoti of IIT Madras to explore possibilities to leverage Artificial Intelligence (AI) for development across various fields
              </p>
            </div>
            </div>
          </div>

          <div class="card drop-shadow"> 
            <div class="row no-gutters">
            <div class="col-2">
            <img  class="member-img center-block" src="images/news/preksha.jpg" alt="Card image cap" >
            </div>
            <div class="card-body col-10">
              <a class="card-title" href="#">Preksha Nema (CS15D201) has been selected for Google India PhD Fellowship</a>
              <h6 class="card-subtitle mb-2">12 July 2017</h6>
              <p class="card-text">
                 Preksha Nema (CS15D201) who is a PhD scholar at the CSE dept has been selected for Google India PhD Fellowship.
              </p>
            </div>
            </div>
          </div>

        </div>
        <div class="col-sm-4 events">
          <h3 class="section-title pl-0"> Events </h3> 

          <div class="card event-card"> 
              <a class="card-title" href="#">Seminar on Content Optimization</a>
              <div class="card-subtitle"> 
               4:00 pm, 27 Sep | Alan M. Turing Hall
              </div>
          </div>

          <div class="card event-card"> 
              <a class="card-title" href="#">Seminar on Knowledge Representation and Reasoning with Deep Neural Networks, by Arvind Neelakantan, UMass Amherst</a>
              <div class="card-subtitle"> 
                4:30 pm, 21 Sep | Alan M. Turing Hall
              </div>
          </div>

            <!--
          <h3 class="section-title"> Publications </h3>
          <div class="card event-card"> 
              <div class="calbox"> 
              Palleti, Venkata Reddy and Narasimhan, Shankar and Rengaswamy, Raghunathan and Teja, Ravi and Bhallamudi, S Murty <b>Sensor network design for contaminant detection and identification in water distribution networks</b> <em>Computers & Chemical Engineering</em> (2016) 87 246 256  
              </div>
              -->
          </div>

        </div>

        <div class="row">
            <div class="col-12">
            <h3 class="section-title pl-0 mb-0"> Recent Publications </h3>
            <div>
          
        </div>

        <div class="row">
          <div class="col-12">
            <ol class="col-8 publications list">
            {% assign recent_papers = site.data.ilds | sort:"year" | reverse %}
            {% for paper in recent_papers  limit:2 %}
              <li>
                <span class="pub-title">{{ paper.title}} </span> 
                <span class="pub-authors">
                {% assign authors= paper.author | split: "and" %}
                {% for author in authors %} {{ author | split: "," | reverse | join: " "|append:", " }} {% endfor %}
                </span>
                <span class="pub-journal">{{ paper.journal }}</span>
                <span class="pub-year">({{ paper.year }})</span>
                <span class="pub-location"></span>
                <span class="pub-tail">
                  {{ paper.volume }}
                  {% if paper.number %} ({{ paper.number }}) {% endif %}
                  {{ paper.pages}}
                </span>
                <span class="pub-links"> 
                  {% if paper.link %}<a href="{{ paper.link }}">pdf</a> {% endif %}
                  <!-- <a href="#">git</a> -->
                </span>
              </li>
              {% endfor %}

            </ol>

            <div> 
               <a class="btn btn-primary btn-sm btn-view-more" role="button" href="publications/"> 
                +  View More Publications
               </a>
            </div>
          </div>
        </div>
    </div>

    
    <div class="container collab-section">
      <h3 class="section-title"> Government / Industry Relations </h3> 
      <div class="row">
      {% for collaborator in site.data.collaborators  %}
        <div class="card">
             <img class="card-img-top" src="images/industrial/{{ collaborator.image }}"> 
        </div>
      {% endfor %}
    
      </div>
    </div>
