<nav class="navbar with-shadow navbar-expand-sm navbar-light fixed-top bg-light">

    <div class="container">
      <!-- Logo Section -->
      <a class="navbar-brand" href="{{site.url}}">
        <img src="/images/logo.jpg" width=100 class="mr-2" /> 
       <!--
       <span class="navbar-brand-expanded hidden-md-down">RBC DSAI</span>
       <span class="logotext-tail"> IITM </span>
       -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {% for node in site.pages %}
            {% if node.title %}
              {% if page.url == node.url %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}"> {{ node.title }} </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    
<!--

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 0px;
  font-size: 30px;
  width: 29px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.10;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #38a1f3;
  color: white;
}

.fa-linkedin {
  background: #0077b5;
  color: white;
}




</style>
</head>
<body>


<!-- Add font awesome icons -->
<a href="https://twitter.com/rbc_dsai_iitm" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/company/rbcdsai/" class="fa fa-linkedin"></a>
<a href="https://www.facebook.com/ReachIITM/?__tn__=kC-R&eid=ARChWUd1RLDpkxDdL0PmPFxPQYaaHFDQ1gXAxbgg-2FUnrWglQXTa8FvJktbls64KUzVTbQQ7l1NMIGC&hc_ref=ART4r7BgECO6PNqoR97h2tj7NpHDpRhV_bzVqfPV3ev0ylSnR4_68x3Q07j56GIAVVY&fref=nf&__xts__[0]=68.ARCe-gQAtqJwkEtpvHvhMeaoRI9DkVgbvEFCMaXb_Ntfc6HWMfrd2dIBuf3Uj-tYVOp89Q0DAvf1Ljo4SbR0f0aIcIiShtGK2eT2vjeFSEvHUN3UCZvtG5yuAKkObCKDZH_BJX3b45vSgTcb4dQ6qfDLlVDFxCN_HHzX9BaDvcqOTXx6HQNtyEbZYtR80_vAxbMpZuDn1DDwvTkOArbcuN5w4pqmEKURwQZIhvx7jhODzz4cP-hrFFCV0VIC4Xi6VZWnUvRfgt8YV1ycWguhDgCf5d-wnA-SE43U5LJP-w53rRWWPZP_xTZB1vRXS3K1sgw6" class="fa fa-facebook"></a>

     
</body>
-->

<body>

<a href="https://twitter.com/rbc_dsai_iitm">
<img border="0" alt="twitter-logo" src="/images/twiiter.png" width="25" height="25">
</a>
<a href="https://www.linkedin.com/company/rbcdsai/">
<img border="0" alt="linkedin" src="/images/linke.jpg" width="25" height="25"></a>
</body>
</nav>
