<head>
    <title>Social</title>
    <link rel="stylesheet" type="text/css" href="css/social.css">
</head>
    
<nav class="navbar with-shadow navbar-expand-sm navbar-light fixed-top bg-light">

    <div class="container">
      <!-- Logo Section -->
      <a class="navbar-brand" href="{{site.url}}">
        <img src="/images/logo.jpg" width=100 class="mr-2" /> 
       <!--
       <span class="navbar-brand-expanded hidden-md-down">RBC DSAI</span>
       <span class="logotext-tail"> IITM </span>
       -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {% for node in site.pages %}
            {% if node.title %}
              {% if page.url == node.url %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}"> {{ node.title }} </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 0px;
  font-size: 30px;
  width: 29px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.10;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #38a1f3;
  color: white;
}

.fa-linkedin {
  background: #0077b5;
  color: white;
}





</style>
</head>
<body>


<!-- Add font awesome icons -->
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-facebook"></a>

     
</body>





<div class="container">

<div class="follow">
  <div class="icon first">&commat;</div>
  <div class="icon">&sung;</div>
  <div class="icon">&oplus;</div>
  <div class="icon last">&phone;</div>
  <div class="label">Follow</div>
</div>
<div class="share">
  <div class="icon first">&supdsub;</div>
  <div class="icon">&starf;</div>
  <div class="icon">&empty;</div>
  <div class="icon last">&there4;</div>
  <div class="label">Share</div>
</div>
<button class="try">
  <span class="text">Try</span>
</button>
<button class="buy">
  <span class="price"><small>$</small>19</span>
  <span class="text">Buy</span>
</button>
  
</div>


</nav>
