<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0}

.icon-bar {
    width: 60px;
    background-color: #5555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #e60000;
}
</style>
<body>

<div class="icon-bar" style="float:right">
  <a class="active" href="https://rbc-dsai.iitm.ac.in/"><i class="fa fa-home"></i></a>
  <a href="https://twitter.com/RobertKingsly?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
  <a href="mailto:admin@rbcdsai.org"><i class="fa fa-envelope"></i></a>
  <a href="tel:9043810120"><i class="fa fa-phone"></i></a>
  
</div>

</body>
</html>
<html>
{% include head.html %}

<body >

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

</body>
</html>

