---
layout: default
---
<div class="container"> 
  <div class="row"> 
    <div class="col-md-8  col-sm-12 col-xs-12"> 

      <div class="post">
        <h2 class="post-title">{{ page.title }}</h2>

       <!-- <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>-->

        <p class="mt-1 post-content" >
         {% if page.img %}
          <img src="{{ page.img }}" width="100" class="mr-3 mb-3" style="float:left"/>
         {% endif %}
         {{ content | remove: '<p>' | remove: '</p>' }}
         <br>
         <br>
         <br>
         {% for img in page.specialImgs %}
          <!--  <img class="special" src="{{ img }}"/>  -->
         {% endfor %}
        </p>
      </div>

    </div>
  </div>
</div>
